# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Database
*.sqlite3
db.sqlite3

# IDE
.vscode/
.idea/

# Django migrations
apps/*/migrations/*.py
!apps/*/migrations/__init__.py

Task_4_me